---
import Base from "../layouts/Base.astro";
import { Image } from "astro:assets";
import jack from "../assets/jack-bio-pic.webp";
import SideNav from "../components/SideNav.astro";

const pageTitle = "About";
---

<Base title={pageTitle}>
  <div
    class="mt-8 mx-4 xl:mx-8 grid grid-cols-1 lg:grid-cols-[16rem,1fr] gap-8"
  >
    <!-- Sidebar -->
    <aside class="hidden lg:block">
      <SideNav />
    </aside>

    <!-- Main content -->
    <div class="grid">
      <section class="mx-auto max-w-5xl w-full">
        <h3 class="text-2xl text-stone-500 tracking-xl mb-6">{pageTitle}</h3>
        <Image src={jack} alt="jack" class="mx-auto my-12 max-w-96" />

        <p
          class="mx-auto xl:max-w-7xl text-xl font-light text-stone-500 tracking-xl my-8"
        >
          My approach to making art photos over the last few decades hasn’t
          followed the norm - in a couple of ways. My artistic inclinations lean
          toward the particular, individual, free-standing subject, whether it’s
          an object, a scene, an individual, etc. The result is that my
          creations are mostly, but not exclusively, one-offs rather than
          members of a cohesive, related group or collection attempting to <span
            class="italic">tell a story</span
          >. (Not that there’s anything wrong with that). Also, I’m much
          attracted to the surreal, the abstract...the obscure. With these
          images, I ask the viewer to accept that meaning, explanations,
          intentions, purpose, etc. may be locatable, but probably not by me. I
          can only hope that viewers will be inspired to tap into the depths, or
          even the shallows, of their curiosity... and see what comes of it. I
          do try to impart beauty in all my work, though, so if/when it appears,
          you could be off to a good start.
        </p>

        <h3 class="font-bold text-lg">Ordering Prints:</h3>

        <p
          class="mx-auto xl:max-w-7xl text-xl font-light text-stone-500 tracking-xl"
        >
          All photos on the website are available as high-quality, archival
          prints for purchase. Sizes can vary, generally from 8" x 10" up to 20"
          x 30". <a
            href="mailto:jackpittssf@gmail.com"
            class="underline hover:text-red-700"
          >
            Contact me</a
          > for more information.
        </p>
      </section>
    </div>
  </div>
</Base>
