---
import Base from "../layouts/Base.astro";
import SideNav from "../components/SideNav.astro";
const pageTitle = "Contact";
---

<Base title={pageTitle}>
  <div
    class="mt-8 mx-4 xl:mx-8 grid grid-cols-1 lg:grid-cols-[16rem,1fr] gap-8"
  >
    <!-- Sidebar -->
    <aside class="hidden lg:block">
      <SideNav />
    </aside>

    <!-- Main content -->
    <div class="grid">
      <section class="mx-auto max-w-5xl w-full">
        <h3 class="text-2xl text-stone-500 tracking-xl mb-6">Contact</h3>
        <!-- Contact Information -->
        <p class="text-xl font-light text-stone-500 tracking-xl mb-2">
          <a
            href="mailto:jackpittssf@gmail.com"
            class="underline hover:text-red-700"
          >
            jackpittssf@gmail.com</a
          >
        </p>
        <p class="text-xl font-light text-stone-500 tracking-xl">
          <a href="tel:415.602.4211" class="underline hover:text-red-700">
            Text/Call: 415.602.4211</a
          >
        </p>
      </section>
    </div>
  </div>
</Base>
