---
import Base from "../layouts/Base.astro";
import { Image } from "astro:assets";
import ladyImage from "../assets/lady.jpg";
import flowersImage from "../assets/flowers.jpg";
import structureImage from "../assets/structure.jpg";
import SideNav from "../components/SideNav.astro";
---

<Base title="Contact">
  <div class="mx-4 xl:mx-8 flex">
    <aside class="hidden lg:block w-64 flex-shrink-0">
      <SideNav />
      <!-- <h3
                class="text-xl font-libre-baskerville font-medium text-red-700 tracking-wider uppercase mt-8 mb-2"
              >
                Projects
              </h3>
              <ul class="list-none">
                <li class="text-xl mb-5">
                  <a href="/galleries/people">Holy Joe</a>
                </li>
                <li class="text-xl mb-5">2004 Democratic Convention</li>
              </ul> -->
      <!-- <div class="hover:cursor-pointer p-4 bg-blue-500">Hover over me</div> -->
    </aside>
    <div>
      <section class="w-full mt-8">
        <div class="px-4 mx-auto">
          <h3 class="text-3xl font-bold text-stone-500 tracking-xl">Contact</h3>
        </div>
        <!-- Larger portrait placeholder on the left -->
        <p
          class="mx-auto xl:max-w-7xl px-4 text-xl font-light text-stone-500 tracking-xl my-12"
        >
          <a
            href="mailto:jackpittssf@gmail.com"
            class="underline hover:text-red-700 mb-12"
          >
            jackpittssf@gmail.com</a
          >
        </p>
        <p
          class="mx-auto xl:max-w-7xl px-4 text-xl font-light text-stone-500 tracking-xl"
        >
          <a href="tel:415.602.4211" class="underline hover:text-red-700">
            Text/Call: 415.602.4211</a
          >
        </p>
      </section>
    </div>
  </div>
</Base>
