---
import Base from "../layouts/Base.astro";
import SideNav from "../components/SideNav.astro";
import Image from "astro/components/Image.astro";
const pageTitle = "About";
import { Image } from "astro:assets";
import jack from "../assets/jack-bio-pic.webp";
---

<Base title="Contact">
  <div
    class="mt-8 mx-4 xl:mx-8 grid grid-cols-1 lg:grid-cols-[16rem,1fr] gap-8 bg-blue-100"
  >
    <!-- Sidebar -->
    <aside class="hidden lg:block bg-green-200">
      <SideNav />
    </aside>

    <!-- Main content -->
    <div class="grid bg-yellow-200">
      <section class="mx-auto max-w-5xl w-full bg-red-200">
        <h3 class="text-2xl text-stone-500 tracking-xl mb-6">Contact</h3>
        <!-- Contact Information -->
        <p class="text-xl font-light text-stone-500 tracking-xl mb-2">
          <a
            href="mailto:jackpittssf@gmail.com"
            class="underline hover:text-red-700"
          >
            jackpittssf@gmail.com</a
          >
        </p>
        <p class="text-xl font-light text-stone-500 tracking-xl">
          <a href="tel:415.602.4211" class="underline hover:text-red-700">
            Text/Call: 415.602.4211</a
          >
        </p>
      </section>
    </div>
  </div>
</Base>

<Base title={pageTitle}>
  <div
    class="mt-8 mx-4 xl:mx-8 grid grid-cols-1 lg:grid-cols-[16rem,1fr] gap-8"
  >
    <!-- Sidebar -->
    <aside class="hidden lg:block">
      <SideNav />
    </aside>

    <!-- Main content -->
    <div class="grid">
      <section class="mx-auto max-w-5xl w-full">
        <h3 class="text-2xl text-stone-500 tracking-xl mb-6">{pageTitle}</h3>
        <Image src={jack} alt="jack" class="mx-auto my-12 max-w-96" />

        <p
          class="mx-auto xl:max-w-7xl text-xl font-light text-stone-500 tracking-xl my-8"
        >
          A fair percentage of my art photography can be considered somewhat
          atypical. It’s my father’s fault. When I was about 10, he somehow
          wound up with a 3-D camera that produced outrageously vibrant,
          stunningly beautiful 35mm color slides that we looked at thru a
          brightly lit Kodak hand-held stereo viewer. This didn’t turn me into a
          color photographer necessarily, but I’m convinced that all that
          unusual exposure (ahem) ultimately awakened some kind of
          non-conformist gene. It may be what’s led toward an attraction to what
          is not automatically obvious or readily imaginable as a potentially
          beautiful and/or compelling art photo. Thanks, Dad.
        </p>

        <p
          class="mx-auto xl:max-w-7xl text-xl font-light text-stone-500 tracking-xl"
        >
          All photos on the website are available as high-quality, archival
          prints for purchase. Sizes can vary, generally from 8” x 10” up to 20”
          x 30”.
        </p>
      </section>
    </div>
  </div>
</Base>
