---
import Base from "../layouts/Base.astro";
import { Image } from "astro:assets";
import ladyImage from "../assets/lady.jpg";
import flowersImage from "../assets/flowers.jpg";
import structureImage from "../assets/structure.jpg";
import Quote from "../components/Quote.astro";
import QuoteComponent from "../components/QuoteComponent.astro";
---

<Base title="Jack Photography">
  <!-- <h4
    class="mx-4 xl:mx-8 md:text-xl text-center font-medium text-stone-500 tracking-xl my-12"
  >
    Welcome to my photography portfolio. Lorem ipsum dolor sit amet. <a
      href="/about"
      class="underline hover:text-red-700"
      <span
    >
      More about Jack</a
    >
  </h4> -->

  <!-- <Quote
    quote="A photograph is a secret about a secret."
    author="Diane Arbus"
  /> -->

  <QuoteComponent />

  <div class="mx-4 xl:mx-8 flex">
    <aside class="hidden lg:block w-[150px] xl:w-[200px] flex-shrink-0">
      <h3
        class="text-xl font-libre-baskerville font-medium text-stone-500 tracking-wider uppercase mt-6 mb-6"
      >
        Galleries
      </h3>
      <ul class="list-none">
        <a href="/galleries/people">
          <li class="text-xl mb-5 hover:text-red-700">People</li></a
        >
        <li class="text-xl mb-5 hover:text-red-700">Street</li>
        <li class="text-xl mb-5 hover:text-red-700">Portraits</li>
        <li class="text-xl mb-5 hover:text-red-700">Landscapes</li>

        <a href="/galleries/botanicals">
          <li class="text-xl mb-5 hover:text-red-700">Botanicals</li></a
        >
        <li class="text-xl mb-5 hover:text-red-700">Surreal</li>
        <li class="text-xl mb-5 hover:text-red-700">Holy Joe</li>
        <li class="text-xl mb-5 hover:text-red-700">2004 Convention</li>
      </ul>
      <!-- <h3
        class="text-xl font-libre-baskerville font-medium text-red-700 tracking-wider uppercase mt-8 mb-2"
      >
        Projects
      </h3>
      <ul class="list-none">
        <li class="mb-3">
          <a href="/galleries/people">Holy Joe</a>
        </li>
        <li class="mb-3">2004 Democratic Convention</li>
      </ul> -->
      <!-- <div class="hover:cursor-pointer p-4 bg-blue-500">Hover over me</div> -->
    </aside>
    <div>
      <section class="w-full md:columns-2 gap-4 mt-8">
        <!-- Larger portrait placeholder on the left -->

        <a href="/galleries/people">
          <Image src={ladyImage} alt="old lady seated" class="w-full mb-4" /></a
        >
        <a href="/galleries/people">
          <Image src={flowersImage} alt="flowers" class="w-full mb-4" /></a
        >
        <a href="/galleries/people">
          <Image src={structureImage} alt="structure" class="w-full mb-4" /></a
        >

        <!-- Two smaller horizontal placeholders on the right -->
        <!-- <div class="break-inside-avoid bg-gray-300 aspect-[4/3] mb-4">
        Horizontal Image 1
      </div>
      <div class="break-inside-avoid bg-gray-300 aspect-[4/3] mb-4">
        Horizontal Image 2
      </div> -->
      </section>
      <h4
        class="mx-4 xl:mx-8 md:text-xl text-center font-medium text-stone-500 tracking-xl my-12"
      >
        Welcome to my photography portfolio. Lorem ipsum dolor sit amet. <a
          href="/about"
          class="underline hover:text-red-700"
          <span
        >
          More about Jack</a
        >
      </h4>
    </div>
  </div>
</Base>
