---
import Base from "../layouts/Base.astro";
import SideNav from "../components/SideNav.astro";
const pageTitle = "Services";
---

<Base title={pageTitle}>
  <div
    class="mt-8 mx-4 xl:mx-8 grid grid-cols-1 lg:grid-cols-[16rem,1fr] gap-8"
  >
    <!-- Sidebar -->
    <aside class="hidden lg:block">
      <SideNav />
    </aside>

    <!-- Main content -->
    <div class="grid">
      <section class="mx-auto max-w-5xl w-full">
        <h3 class="text-2xl text-stone-500 tracking-xl mb-6">{pageTitle}</h3>
        <!-- Contact Information -->
        <p
          class="mx-auto xl:max-w-7xl text-xl font-light text-stone-500 tracking-xl mt-8 mb-4"
        >
          I’m in San Francisco and available for studio portraiture and events.
          I am not a regular wedding photographer, but we can talk if you’re
          going small and have a sense of humor.
        </p>

        <p
          class="mx-auto xl:max-w-7xl text-xl font-light text-stone-500 tracking-xl"
        >
          I’m also open to meeting artists interested in potentially
          <span class="font-bold">collaborating</span> on the creation of small-scale
          'sets' for creative/surrealistic image creation. Check out the photographer
          Chema Madoz to get a general idea of my direction with these.
          <a
            href="https://www.a-c-d.net/surreal-photography-chema-madoz"
            class="underline hover:text-red-700">Chema Madoz Website</a
          >,
          <a
            href="https://www.robertkleingallery.com/artists/42-chema-madoz/works"
            class="underline hover:text-red-700">Robert Klein Gallery</a
          >
          He's also on <a
            href="https://www.instagram.com/chemamadozphotographer/"
            class="underline hover:text-red-700">Instagram</a
          >
        </p>
      </section>
    </div>
  </div>
</Base>
