---
import Base from "../layouts/Base.astro";
import { Image } from "astro:assets";
import ladyImage from "../assets/lady.jpg";
import flowersImage from "../assets/flowers.jpg";
import structureImage from "../assets/structure.jpg";
---

<Base title="Services">
  <div class="mx-4 xl:mx-8 flex">
    <aside class="hidden lg:block w-64 flex-shrink-0">
      <h3
        class="text-xl font-libre-baskerville font-medium text-stone-500 tracking-wider uppercase mt-6 mb-6"
      >
        Galleries
      </h3>
      <ul class="list-none">
        <a href="/galleries/people">
          <li class="text-xl mb-5 hover:text-red-700">People</li></a
        >
        <li class="text-xl mb-5 hover:text-red-700">Street</li>
        <li class="text-xl mb-5 hover:text-red-700">Portraits</li>
        <li class="text-xl mb-5 hover:text-red-700">Landscapes</li>

        <a href="/galleries/botanicals">
          <li class="text-xl mb-5 hover:text-red-700">Botanicals</li></a
        >
        <li class="text-xl mb-5 hover:text-red-700">Surreal</li>
        <li class="text-xl mb-5 hover:text-red-700">Holy Joe</li>
        <li class="text-xl mb-5 hover:text-red-700">
          2004 Democratic Convention
        </li>
      </ul>
      <!-- <h3
            class="text-xl font-libre-baskerville font-medium text-red-700 tracking-wider uppercase mt-8 mb-2"
          >
            Projects
          </h3>
          <ul class="list-none">
            <li class="text-xl mb-5">
              <a href="/galleries/people">Holy Joe</a>
            </li>
            <li class="text-xl mb-5">2004 Democratic Convention</li>
          </ul> -->
      <!-- <div class="hover:cursor-pointer p-4 bg-blue-500">Hover over me</div> -->
    </aside>
    <div>
      <section class="w-full mt-8">
        <div class="px-4 mx-auto">
          <h3 class="text-3xl font-bold text-stone-500 tracking-xl">
            Services
          </h3>
        </div>
        <!-- Larger portrait placeholder on the left -->
        <p
          class="mx-auto xl:max-w-7xl px-4 text-xl font-light text-stone-500 tracking-xl my-12"
        >
          I’m in San Francisco and available for studio portraiture (people, not
          animals) and sometimes smallish events. I am not a wedding
          photographer, but we can talk if you’ve got a sense of humor and a
          casual attitude about it .....and you’re both foes of formality.
        </p>

        <p
          class="mx-auto xl:max-w-7xl px-4 text-xl font-light text-stone-500 tracking-xl my-12"
        >
          I’m also open to meeting artists interested in potentially
          collaborating on the creation of small-scale ‘sets’ for
          creative/surrealistic image creation. Look up the photographer Chema
          Madoz to get a general idea of my direction:
          <a
            href="https://www.a-c-d.net/surreal-photography-chema-madoz"
            class="underline hover:text-red-700">Chema Madoz Website</a
          >,
          <a
            href="https://www.robertkleingallery.com/artists/42-chema-madoz/works"
            class="underline hover:text-red-700">Robert Klein Gallery</a
          >
          He's also on <a
            href="https://www.instagram.com/chemamadozphotographer/"
            class="underline hover:text-red-700">Instagram</a
          >
        </p>
        <!-- Two smaller horizontal placeholders on the right -->
        <!-- <div class="
            break-inside-avoid
            bg-gray-300
            aspect-[4
            3]
            mb-4"
          >
            Horizontal Image 1
          </a>
          <div class="break-inside-avoid bg-gray-300 aspect-[4/3] mb-4">
            Horizontal Image 2
          </div> -->
      </section>
      <!-- <h4
            class="mx-4 xl:mx-8 md:text-xl text-center font-medium text-stone-500 tracking-xl my-12"
          >
            Welcome to my photography portfolio. Lorem ipsum dolor sit amet. <a
              href="/about"
              class="underline hover:text-red-700"
              <span
            >
              More about Jack</a
            >
          </h4> -->
    </div>
  </div>
</Base>
