---

---

<nav
  class="md:flex md:justify-between md:items-center mx-4 xl:mx-8 min-h-24 mt-8 md:mt-0"
>
  <div class="text-center md:flex md:items-center">
    <a href="/" data-link="home">
      <h2 class="text-3xl font-medium hover:text-red-700">
        Jack Pitts Photography
      </h2></a
    >
  </div>
  <div class="flex justify-center items-center">
    <h2
      class="flex items-center space-x-4 font-libre-baskerville text-stone-500 xl:text-lg text-base mt-3 xl:mt-0"
    >
      <a
        href="/about"
        data-link="about"
        class="hover:text-red-700 cursor-pointer">About</a
      >
      <a
        href="/purchase"
        data-link="services"
        class="hover:text-red-700 cursor-pointer">Purchase</a
      >
      <a
        href="/contact"
        data-link="contact"
        class="hover:text-red-700 cursor-pointer">Contact</a
      >
    </h2>
  </div>
</nav>
