---
const { url } = Astro.props;
---

<div class="flex justify-center items-center h-[10vh] mt-8">
  <a
    href={url}
    class="next-gallery bg-stone-100 text-stone-700 text-lg py-2 px-4 rounded-lg hover:text-red-700 transition duration-300 text-center"
  >
    Next gallery →
  </a>
</div>
