---
const quotes = [
  {
    quote:
      "The only limit to our realization of tomorrow is our doubts of today.",
    author: "Franklin D. Roosevelt",
  },
  {
    quote:
      "In the end, we will remember not the words of our enemies, but the silence of our friends.",
    author: "Martin Luther King Jr.",
  },
  {
    quote:
      "Success is not final, failure is not fatal: It is the courage to continue that counts.",
    author: "Winston Churchill",
  },
];
let currentQuoteIndex = 0;
---

<!-- Main content of the page -->
<section>
  <div class="mx-4 xl:mx-8 mt-4 mb-6">
    <blockquote
      id="quote-block"
      class="text-lg md:text-2xl text-center font-medium text-red-700 tracking-xl italic transition-opacity duration-1000 opacity-100"
    >
      &ldquo;{quotes[0].quote}.&rdquo;
    </blockquote>
    <span
      id="quote-author"
      class="not-italic text-black text-base md:text-lg block text-center transition-opacity duration-1000 opacity-100"
    >
      &mdash;{quotes[0].author}
    </span>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let currentIndex = 0;
    const quoteElement = document.getElementById("quote-block");
    const authorElement = document.getElementById("quote-author");

    function fadeQuotes() {
      // Fade out
      quoteElement.classList.remove("opacity-100");
      quoteElement.classList.add("opacity-0");
      authorElement.classList.remove("opacity-100");
      authorElement.classList.add("opacity-0");

      setTimeout(() => {
        // Update the quote and author after fade-out
        currentIndex = (currentIndex + 1) % quotes.length;
        quoteElement.innerHTML = `&ldquo;${quotes[currentIndex].quote}.&rdquo;`;
        authorElement.innerHTML = `&mdash;${quotes[currentIndex].author}`;

        // Fade back in
        quoteElement.classList.remove("opacity-0");
        quoteElement.classList.add("opacity-100");
        authorElement.classList.remove("opacity-0");
        authorElement.classList.add("opacity-100");
      }, 1000); // Wait for fade-out to complete before updating content
    }

    // Set interval for cycling quotes
    setInterval(() => {
      fadeQuotes();
    }, 6000); // 5 seconds display time + 1 second for fading transition
  });
</script>
