<div id="sideNav" class="sticky top-12">
  <h3
    class="text-xl font-libre-baskerville font-medium text-stone-400 tracking-wider uppercase mt-0 mb-6"
  >
    Galleries
  </h3>
  <ul class="list-none">
    <a href="/galleries/people">
      <li class="text-xl mb-5 hover:text-red-700">People</li>
    </a>
    <a href="/galleries/botanicals">
      <li class="text-xl mb-5 hover:text-red-700">Botanicals</li>
    </a>
    <a href="/galleries/landscapes">
      <li class="text-xl mb-5 hover:text-red-700">Landscapes</li>
    </a>
    <a href="/galleries/portraits">
      <li class="text-xl mb-5 hover:text-red-700">Portraits</li>
    </a>
    <a href="/galleries/surreal">
      <li class="text-xl mb-5 hover:text-red-700">Surreal</li>
    </a>
    <a href="/galleries/street">
      <li class="text-xl mb-5 hover:text-red-700">Street</li>
    </a>
    <a href="/galleries/2004-democratic-convention">
      <li class="text-xl mb-5 tracking-wide hover:text-red-700">
        2004 Democratic <br />Convention
      </li>
    </a>
    <a href="/galleries/holy-joe">
      <li class="text-xl mb-5 hover:text-red-700">Holy Joe</li>
    </a>
  </ul>
</div>
