---
import Base from "../../../layouts/Base.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
---

<Base title="Botanicals">
  <Breadcrumbs crumb="Botanicals" />

  <div
    id="my-gallery"
    class="mx-4 xl:mx-0 columns-1 md:columns-2 xl:columns-3 gap-12"
  >
    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1000"
        data-pswp-height="1000"
        href="/src/assets/botanicals/Flora12_IMG_9876.webp"
      >
        <img
          width="1000"
          height="1000"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src="/src/assets/botanicals/Flora12_IMG_9876.webp"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Caption here</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1280"
        data-pswp-height="1920"
        href="/src/assets/botanicals/IMG_0026C.webp"
      >
        <img
          width="1280"
          height="1920"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src="/src/assets/botanicals/IMG_0026C.webp"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Portrait Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1242"
        href="/src/assets/botanicals/IMG_0057_RD_1920x1242.webp"
      >
        <img
          width="1920"
          height="1242"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src="/src/assets/botanicals/IMG_0057_RD_1920x1242.webp"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Landscape Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1016"
        href="/src/assets/botanicals/IMG_0065C_R1_1920x1016.webp"
      >
        <img
          width="1920"
          height="1016"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src="/src/assets/botanicals/IMG_0065C_R1_1920x1016.webp"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Landscape Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1225"
        href="/src/assets/botanicals/IMG_0090C_D_1920x1225.webp"
      >
        <img
          width="1920"
          height="1225"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src="/src/assets/botanicals/IMG_0090C_D_1920x1225.webp"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Landscape Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1280"
        href="/src/assets/botanicals/IMG_1538A-glow_1920x1280.webp"
      >
        <img
          width="1920"
          height="1280"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src="/src/assets/botanicals/IMG_1538A-glow_1920x1280.webp"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Landscape Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1280"
        href="/src/assets/botanicals/IMG_1543_1920x1280.webp"
      >
        <img
          width="1920"
          height="1280"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src="/src/assets/botanicals/IMG_1543_1920x1280.webp"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Landscape Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1242"
        data-pswp-height="1920"
        href="/src/assets/botanicals/IMG_4643D_1242x1920.webp"
      >
        <img
          width="1242"
          height="1920"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src="/src/assets/botanicals/IMG_4643D_1242x1920.webp"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Portrait Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1920"
        href="/src/assets/botanicals/IMG_9981-R2three-and-a-half-flowers_1920x1920.webp"
      >
        <img
          width="1920"
          height="1920"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src="/src/assets/botanicals/IMG_9981-R2three-and-a-half-flowers_1920x1920.webp"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Square Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1920"
        data-pswp-height="1920"
        href="/src/assets/botanicals/IMG_9987_copy_R1_1920x1920.webp"
      >
        <img
          width="1920"
          height="1920"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src="/src/assets/botanicals/IMG_9987_copy_R1_1920x1920.webp"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Square Image</p>
    </div>

    <div class="break-inside-avoid">
      <a
        class="contents"
        data-pswp-width="1509"
        data-pswp-height="1920"
        href="/src/assets/botanicals/RootRumba11x14R2_1509x1920.webp"
      >
        <img
          width="1509"
          height="1920"
          loading="lazy"
          decoding="async"
          class="object-cover"
          src="/src/assets/botanicals/RootRumba11x14R2_1509x1920.webp"
        />
      </a>
      <p class="mt-2 mb-12 text-left">Portrait Image</p>
    </div>
  </div>
</Base>
