---
const { title } = Astro.props;
import Nav from "../components/Nav.astro";
import { ViewTransitions } from "astro:transitions";
import "photoswipe/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <!-- Header: Contains introductory content -->
    <header class="max-w-7xl mx-auto">
      <nav>
        <Nav />
      </nav>
    </header>

    <!-- Main content: Primary content of the page -->
    <main class="max-w-7xl mx-auto">
      <slot />
    </main>
    <!-- Footer: Contains page-ending content -->
    <!-- <footer class="max-w-7xl mx-auto bg-lime-500">
      <p>This is the footer</p>
    </footer> -->
  </body>
</html>
