---
const { title } = Astro.props;
import Nav from "../components/Nav.astro";
import "photoswipe/style.css";
import "../styles/main.css";

// Import the font at the top of your file

// Supports weights 200-900
// Supports weights 100-900
import "@fontsource-variable/public-sans";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body class="min-h-screen flex flex-col">
    <!-- Header: Contains introductory content -->
    <header class="max-w-8xl mx-auto">
      <nav>
        <Nav />
      </nav>
    </header>

    <!-- Main content: Primary content of the page -->
    <main class="flex-grow">
      <slot />
    </main>
    <div class="mt-12">
      <!-- Footer: Sticky to bottom, but never overlaps content -->
      <Footer />
    </div>

    <script is:inline>
      document.addEventListener("scroll", function () {
        const sideNav = document.getElementById("sideNav");
        const offsetTop = sideNav.getBoundingClientRect().top;

        // When scrolled down enough, make it fixed
        if (window.scrollY > offsetTop) {
          sideNav.classList.add("fixed", "top-0");
          sideNav.classList.remove("sticky");
        } else {
          sideNav.classList.remove("fixed");
          sideNav.classList.add("sticky");
        }
      });
    </script>
  </body>
</html>

<!-- PhotoSwipe initialization -->
<script is:inline type="module">
  import PhotoSwipeLightbox from "https://unpkg.com/photoswipe/dist/photoswipe-lightbox.esm.js";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#botanicalsGallery",
    children: "a",
    pswpModule: () => import("https://unpkg.com/photoswipe"),
    mainClass: "pswp--custom-bg",
    bgOpacity: 1, // Ensure the background is fully opaque
  });

  lightbox.init();
</script>
