---
const { title } = Astro.props;
import Nav from "../components/Nav.astro";
import "../styles/main.css";
import "photoswipe/style.css";
// Import the font at the top of your file

// Supports weights 200-900
// Supports weights 100-900
import "@fontsource-variable/public-sans";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <!-- Header: Contains introductory content -->
    <header class="max-w-8xl mx-auto">
      <nav>
        <Nav />
      </nav>
    </header>

    <!-- Main content: Primary content of the page -->
    <main class="max-w-8xl mx-auto">
      <slot />
    </main>
  </body>
</html>

<!-- PhotoSwipe initialization -->
<script is:inline type="module">
  import PhotoSwipeLightbox from "https://unpkg.com/photoswipe/dist/photoswipe-lightbox.esm.js";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#botanicalsGallery",
    children: "a",
    pswpModule: () => import("https://unpkg.com/photoswipe"),
  });

  lightbox.init();
</script>
